.additional-products {
  position: relative;

  &::after {
    display: block;
    content: "";
    position: absolute;
    top: 33px;
    width: 100%;
    height: 2px;
    background-color: var(--special-button);
    z-index: -2;

    @media (min-width: $tablet-width) {
      top: 88px;
    }

    @media (min-width: $desktop-width) {
      top: 95px;
    }
  }
}

.additional-products__container {
  padding-top: 20px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-top: 68px;
    padding-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 75px;
    padding-bottom: 86px;
  }
}

.additional-products__inner-container {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.additional-products__title {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-family: var(--special-font);
  color: var(--special-fcolor);
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
    margin-left: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }

  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    bottom: 0;
    margin: 0 auto;
    width: 115%;
    height: 100%;
    background-color: var(--basic-background);
    z-index: -1;

    @media (min-width: $tablet-width) {
      left: -35px;
      width: 120%;
    }
  }
}

.additional-products__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 36px;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    margin-right: 80px;
  }
}

.additional-products__item {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: -1px;
  }
}
