.button {
  font-family: var(--special-font);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  width: 280px;
  padding: 8px 10px;
  background-color: var(--basic-button);
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-background);
  transition: all 0.1s;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 248px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
  }

  &--main-page {
    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
      width: 244px;
      padding: 12px 10px;
    }
  }

  &:hover {
    background-color: var(--special-button);
  }

  &:active {
    color: rgba(var(--special-background-rgb), 0.3);
  }

  &:focus {
    outline: 2px solid var(--special-fcolor);
    outline-offset: 2px;
  }

  &:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--special-fcolor);
    outline-offset: 2px;
  }

  &--show-more {
    background-color: var(--special-background);
    color: inherit;

    &:hover {
      background-color: var(--additional-background);
    }

    &:active {
      color: rgba(var(--basic-fcolor-rgb), 0.3);
    }
  }

  &--additional {
    width: 100%;

    @media (min-width: $desktop-width) {
      width: 244px;
    }
  }

  &--submit {
    border: none;

    @media (min-width: $tablet-width) {
      width: 282px;
      font-size: 20px;
      padding: 17px 10px;
    }

    @media (min-width: $desktop-width) {
      width: 568px;
      font-size: 20px;
    }
  }
}
