
.catalog__title {
  font-family: var(--special-font);
  color: var(--special-fcolor);
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 46px;
  border-top: 1px solid var(--basic-border);
  text-align: center;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.catalog__item {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--basic-border);

  &--more-items {
    border-bottom: 1px solid var(--basic-border);
  }
}
