.contacts {
  position: relative;
  padding-top: 114px;

  &--special-color {
    background-color: var(--special-background);
  }
}

.contacts__container {
  position: absolute;
  top: 28px;
  width: 100%;
}

.contacts__inner-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contacts__subtitle {
  font-family: var(--special-font);
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--special-fcolor);
  margin: 0;
}

.contacts__adress {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.contacts__map__image {
  width: 100%;
  height: auto;
  background-size: contain;
}

.contacts__map {
  width: 100%;
  border: none;

  &:focus {
    outline: 2px solid var(--special-fcolor);
    outline-offset: 2px;
  }
}
