.contacts {
  position: relative;
  padding-top: 114px;

  &--catalog {
    background-color: var(--special-background);
  }
}

.contacts__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  padding: 28px 20px 26px;
  display: flex;
  justify-content: space-between;
}

.contacts__subtitle {
  font-family: var(--special-font);
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--special-fcolor);
  margin: 0;
}

.contacts__adress {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.contacts__map__image {
  width: 100%;
  height: auto;
  background-size: contain;
}

.contacts__map {
  width: 100%;
  border: none;
}
