.developer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 22px;
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.developer__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: inherit;
  white-space: nowrap;
  position: relative;
  transition: all 0.1s;

  &::before {
    content: "";
    position: absolute;
    top: -7px;
    bottom: -7px;
    right: 0;
    left: 0;
  }

  &:nth-child(2) {
    position: relative;
    margin-left: 139px;
    display: inline-flex;
    transition: all 0.1s;

    @media (min-width: $tablet-width) {
      margin-left: 22px;
    }

    &::after {
      content: "";
      width: 27px;
      height: 34px;
      mask: url("../../img/htmlacademy.svg") 50% 50% / cover no-repeat;
      background-color: var(--developer-color);
    }
  }

  &:hover ~ &:nth-child(2)::after,
  &:hover::after {
    background-color: var(--basic-button);
  }

  &:active ~ &:nth-child(2)::after,
  &:active {
    opacity: 0.3;
  }

  &:focus {
    outline: 2px solid var(--special-fcolor);
  }

  &:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--special-fcolor);
    outline-offset: 2px;
  }
}
