.features__container {
  padding-top: 27px;
  padding-bottom: 42px;
}

.features__subtitle {
  font-family: var(--special-font);
  font-size: 36px;
  line-height: 40px;
  color: var(--special-fcolor);
  margin: 0;
  margin-bottom: 38px;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &::before {
    content: "";
    flex-shrink: 0;
    margin-right: 20px;
    width: 60px;
    height: 60px;
  }

  &:nth-child(1)::before {
    background: url("../../img/how-it-works-1.svg") no-repeat;
  }

  &:nth-child(2)::before {
    background: url("../../img/how-it-works-2.svg") no-repeat;
  }

  &:nth-child(3)::before {
    background: url("../../img/how-it-works-3.svg") no-repeat;
  }

  &:nth-child(4)::before {
    background: url("../../img/how-it-works-4.svg") no-repeat;
  }
}

.features__info {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
}
