.gift-offer {
  position: relative;
  display: flex;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 289px;

    @media (min-width: $tablet-width) {
      height: 200px;
    }

    @media (min-width: $desktop-width) {
      width: 245px;
      height: 100%;
    }
  }
}

.gift-offer__container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 289px;
  padding: 43px 20px;
  margin: 0 auto;
  background: url("../../img/gift-mask@1x.png") repeat center center, url("../../img/gift-background-mobile@1x.jpg") no-repeat center center / cover;

  @media (min-resolution: 1.5dppx) {
    background: url("../../img/gift-mask@2x.png") repeat center center, url("../../img/gift-background-mobile@2x.jpg") no-repeat center center / cover;
  }

  @media (min-width: $tablet-width) {
    height: 200px;
    align-items: center;
    justify-content: flex-end;
    background: url("../../img/gift-mask@1x.png") repeat center center, url("../../img/gift-background-tablet@1x.jpg") no-repeat center 80% / cover;

    @media (min-resolution: 1.5dppx) {
      background: url("../../img/gift-mask@2x.png") repeat center center, url("../../img/gift-background-tablet@2x.jpg") no-repeat center 80% / cover;
    }
  }

  @media (min-width: $desktop-width) {
    height: 100%;
    width: 245px;
    align-items: flex-end;
    align-self: center;
    justify-content: center;
    background: url("../../img/gift-mask@1x.png") repeat center center, url("../../img/gift-background-desktop@1x.jpg") no-repeat left center / cover;

    @media (min-resolution: 1.5dppx) {
      background: url("../../img/gift-mask@2x.png") repeat center center, url("../../img/gift-background-desktop@2x.jpg") no-repeat left center / cover;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 58px;
    width: 78px;
    height: 80px;
    background: url("../../img/gift-icon.svg") no-repeat center center;

    @media (min-width: $tablet-width) {
      left: 78px;
    }

    @media (min-width: $desktop-width) {
      top: 56px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
}

.gift-offer__info {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-background);
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: left;
    margin-right: 124px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    margin: 0;
  }
}
