.logo-link {
  line-height: 0;
  text-decoration: none;
  position: relative;

  @media (min-width: $tablet-width) {
    align-self: flex-start;
  }

  &::after {
    content: "";
    position: absolute;
    top: -7px;
    bottom: -7px;
    right: -7px;
    left: -7px;
  }

  &--text-header {
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:focus {
    outline: 2px solid var(--special-fcolor);
    outline-offset: 2px;
  }

  &:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--special-fcolor);
    outline-offset: 2px;
  }
}

.logo-link__image {
  width: 34px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 51px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}
