.logo-link {
  line-height: 0;
  text-decoration: none;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -7px;
    bottom: -7px;
    right: -7px;
    left: -7px;
  }

  &--text-header {
    width: 101px;
    left: 0;
    right: 0;
    position: absolute;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:focus {
    outline: 2px solid var(--special-fcolor);
    outline-offset: 2px;
  }

  &:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--special-fcolor);
    outline-offset: 2px;
  }
}
