.nav-toggle {
  width: 24px;
  height: 20.5px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  text-align: center;
  position: relative;

  &--no-js {
    visibility: hidden;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    top: -7px;
    bottom: -7px;
    left: -7px;
    right: 0;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:focus {
    outline: 2px solid var(--special-fcolor);
    outline-offset: 2px;
  }

  &:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--special-fcolor);
    outline-offset: 2px;
  }
}

.nav-toggle__burger {
  display: block;
  width: 24px;
  height: 1.5px;
  background-color: var(--special-fcolor);
  position: relative;
  margin: 0 auto;
  transition: all 0s 0.1s;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 24px;
    height: 1.5px;
    background-color: var(--special-fcolor);
    right: 0;
    left: 0;
    top: 8px;
    transition: transform 0.1s, top 0.1s 0.1s;
  }

  &::before {
    transform: rotate(0);
    top: -8px;
  }

  &::after {
    transform: rotate(0);
    top: 8px;
  }
}

.nav-toggle__burger--active {
  background-color: transparent;
  transition: all 0s 0.1s;

  &::after {
    transition: top 0.1s, transform 0.1s 0.1s;
    top: 0;
    transform: rotate(-45deg);
  }

  &::before {
    transition: top 0.1s, transform 0.1s 0.1s;
    top: 0;
    transform: rotate(45deg);
  }
}
