.page-header {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 13px;
}

.page-header__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header__main-nav {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
}
