.page-header {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 15px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header__main-nav {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
  width: 100%;

  @media (min-width: $tablet-width) {
    position: static;
    margin: 0;
  }
}
