.page__body {
  font-family: var(--basic-font);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  padding: 0;
  color: var(--basic-fcolor);
  background-color: var(--basic-background);
}
