.page-header {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 13px;
}

.page-header__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
