.page-footer {
  flex-shrink: 0;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 55px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 58px 0;
  }
}

.page-footer__logo-container {
  display: flex;
  justify-content: center;
  padding-top: 39px;
  padding-bottom: 32px;
  border-bottom: 1px solid var(--basic-border);

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}
