.product-porpose__container {
  margin-bottom: -20px;
  display: grid;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(auto-fill, minmax(570px, 1fr));
    justify-content: center;
    gap: 80px;
    margin-bottom: 71px;
  }
}

.product-porpose__item {
  padding: 30px 19px 8px;
  background-color: var(--special-background);
  position: relative;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 77px 52px 43px;
  }

  @media (min-width: $desktop-width) {
    height: 100%;
    padding: 77px 52px 43px;
  }

  &--slim::before {
    content: "";
    position: absolute;
    left: 22px;
    top: 21px;
    width: 50px;
    height: 50px;
    background: url("../../img/slim-cat.svg") no-repeat center center / cover;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 211px;
      left: initial;
      top: 0;
      bottom: 0;
      right: 62px;
      margin: auto 0;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 106px;
      top: 41px;
      left: 52px;
      margin: 0;
      right: initial;
    }
  }

  &--pro::before {
    content: "";
    position: absolute;
    left: 13px;
    top: 24px;
    width: 67px;
    height: 50px;
    background: url("../../img/pro-cat.svg") no-repeat center center / cover;

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 200px;
      left: initial;
      top: 0;
      bottom: 0;
      right: 28px;
      margin: auto 0;
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      height: 100px;
      top: 41px;
      left: 52px;
      margin: 0;
      right: initial;
    }
  }
}

.product-porpose__title {
  font-family: var(--special-font);
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: var(--special-fcolor);
  margin-left: 73px;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 0;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 162px;
    margin-bottom: 73px;
  }
}

.product-porpose__info {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 9px;
  padding-bottom: 26px;
  border-bottom: 1px solid var(--basic-border);

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    color: var(--special-fcolor);
    max-width: 57%;
    margin-bottom: 48px;
    border: none;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
    margin-bottom: 23px;
  }
}

.product-porpose__link {
  font-family: var(--special-font);
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--special-fcolor);
  transition: all 0.1s;
  padding: 10px 0;
  margin-top: auto;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &::before {
    content: "";
    order: 1;
    width: 18px;
    height: 2px;
    margin-left: 15px;
    background-color: var(--special-fcolor);
    transition: all 0.1s;
  }

  &::after {
    content: "";
    order: 2;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: none;
    border-left: 7px solid var(--special-fcolor);
  }

  &:hover::before {
    width: 26px;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    outline: 2px solid var(--special-fcolor);
    outline-offset: 2px;
  }

  &:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--special-fcolor);
    outline-offset: 2px;
  }
}
