.promo__container {
  padding-top: 27px;
  padding-bottom: 22px;
  background: url("../../img/main-background-mask-mobile.png") no-repeat, url("../../img/main-background-mobile.jpg") no-repeat;
  background-size: contain;
}

.promo__title {
  margin: 0;
  font-family: var(--special-font);
  font-weight: 400;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-background);
  margin-bottom: 25px;
}

.promo__slogan {
  font-family: var(--special-font);
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  color: var(--basic-background);
  text-transform: uppercase;
  margin-bottom: 29px;
}
