.promo {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    background: url("../../img/main-background-mask-mobile.png") repeat-x top center, url("../../img/main-background-mobile.jpg") no-repeat top center, linear-gradient(to right, #4e4d53 50%, #444348 100%) top center;
    background-size: contain;
    min-width: 320px;
    width: 100%;
    height: 302px;
  }
}

.promo__container {
  padding-top: 27px;
  padding-bottom: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__title {
  margin: 0;
  font-family: var(--special-font);
  font-weight: 400;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-background);
  margin-bottom: 25px;
}

.promo__slogan {
  font-family: var(--special-font);
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  color: var(--basic-background);
  text-transform: uppercase;
  margin-bottom: 29px;
}
