.select-program {
  padding-top: 28px;
  padding-bottom: 32px;
  border-top: 1px solid var(--basic-border);

  @media (min-width: $tablet-width) {
    padding-top: 41px;
    padding-bottom: 72px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
    padding-bottom: 82px;
  }
}

.select-program__container {
  @media (min-width: $tablet-width) and (max-width: 1279px) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.select-program__title {
  font-family: var(--special-font);
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: var(--special-fcolor);
  margin: 0;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
  }
}

.select-program__info {
  font-family: var(--special-font);
  font-size: 14px;
  line-height: 18px;
  color: var(--special-fcolor);
  margin: 0;
  margin-bottom: 39px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }
}
