.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex-shrink: 0;
  max-width: 312px;

  @media (min-width: $tablet-width) {
    max-width: 676px;
  }

  @media (min-width: $desktop-width) {
    align-items: flex-end;
  }
}

.slider__images-container {
  display: grid;
  --curtain-position: 100%;
  grid-template-columns: var(--curtain-position)  calc(100% - var(--curtain-position));
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
    --curtain-position: 50%;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: calc(var(--curtain-position) + 4%) calc(96% - var(--curtain-position));
    margin-bottom: 23px;
    transform: translateX(15px);
  }
}

.slider__image {
  max-width: 100%;
}

.slider__picture {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: 240px;

  @media (min-width: $tablet-width) {
    height: 520px;
  }


  &--before {
    object-position: 0%;
  }

  &--after {
    object-position: 100%;
  }
}

.slider__range {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: auto;

  @media (min-width: $tablet-width) {
    width: 584px;
  }
}

.slider__scale {
  display: flex;
  width: 84px;
  height: 14px;
  background-color: var(--basic-background);
  border: 1px solid var(--special-border);
  border-radius: 6px;
  padding: 4px 6px;
  margin: 0 17px;
  position: relative;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 6px;
    background-color: var(--special-border);
    padding: 0;
    margin: 0 20px;
  }
}

.slider__handle {
  height: 4px;
  width: 50%;
  margin: auto 0;
  background-color: var(--basic-button);
  border-radius: 6px;
  cursor: grab;
  transition: border 0.1s;
  outline: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: var(--basic-background);
    border: 1px solid var(--special-border);
    transform: translateX(-50%);
    left: 50%;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      width: 8px;
      height: 8px;
      background-color: var(--basic-button);
      border-radius: 50%;
    }
  }

  &:hover {
    @media (min-width: $tablet-width) {
      border: 1px solid var(--radio-border);
    }
  }

  &:active {
    cursor: grabbing;

    @media (min-width: $tablet-width) {
      border: 1px solid var(--basic-button);
    }
  }

  &:focus-visible {
    outline: 2px solid var(--special-fcolor);
    outline-offset: 2px;
  }
}

.slider__condition {
  font-family: var(--special-font);
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--special-fcolor);
  border: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.24);

    &:hover {
      border-style: solid;
    }

    &:active {
      border: none;
    }
  }

  &:focus {
    outline: 2px solid var(--special-fcolor);
    outline-offset: 2px;
  }

  &:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--special-fcolor);
    outline-offset: 2px;
  }
}
