.social {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-top: 20px;
  padding-bottom: 21px;
  border-bottom: 1px solid var(--basic-border);
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 25px;
}

.social__link {
  display: flex;
  align-items: center;
  transition: all 0.1s;
  position: relative;
  width: 30px;
  height: 30px;

  &:hover::after {
    background-color: var(--basic-button);
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    outline: 2px solid var(--special-fcolor);

    &::after {
      background-color: var(--basic-button);
    }
  }
}

.social__link--vk {
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    mask: url("../../img/vk-icon.svg") 50% 50% no-repeat;
    background-color: var(--developer-color);
  }
}

.social__link--inst {
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    mask: url("../../img/instagram-icon.svg") 50% 50% no-repeat;
    background-color: var(--developer-color);
  }
}

.social__link--fb {
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    mask: url("../../img/facebook-icon.svg") 50% 50% no-repeat;
    background-color: var(--developer-color);
  }
}
