:root {
  --basic-fcolor: #444444;
  --special-fcolor: #000000;
  --basic-background: #ffffff;
  --special-background-rgb: 255, 255, 255;
  --special-background: #eaeaea;
  --basic-button: #68b738;
  --special-button: #5eaa2f;
}
