:root {
  --basic-fcolor: #444444;
  --basic-fcolor-rgb: 68, 68, 68;
  --special-fcolor: #000000;
  --additional-fcolor: #222222;
  --basic-background: #ffffff;
  --special-background-rgb: 255, 255, 255;
  --special-background: #f2f2f2;
  --additional-background: #eaeaea;
  --basic-button: #68b738;
  --special-button: #5eaa2f;
  --basic-border: #d9d9d9;
  --special-border: #cdcdcd;
  --radio-border: #bababa;
  --developer-color: #666666;
  --plus-color: #d3d3d3;
  --more-items: #111111;
  --form-border: #e7e7e7;
  --form-focus: #ff8282;
  --basic-font: "Arial", sans-serif;
  --special-font: "Oswald", "Arial", sans-serif;
}

$tablet-width: 768px;
$desktop-width: 1280px;
